{% extends 'WshellBundle::layout.html.twig' %}

{% block stylesheets %}
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/css/wshell.css" type="text/css" rel="stylesheet">
    <link href="/css/obsidian.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/google-code-prettify/bin/prettify.min.js"></script>
{% endblock %}

{% block to_main %}
    <a href="/">
        <img src="/img/sh40.png">

        <div class="bigtext">wShell&rarr;Панель управления</div>
    </a>
{% endblock %}

{% block aside %}
    <div class="list-group">
        <a href="/admin" class="list-group-item {{ active1 is defined ? 'active':'' }}">Инфо</a>
        <a href="/admin/users" class="list-group-item {{ active2 is defined ? 'active':'' }}">Пользователи</a>
        <a href="/admin/units" class="list-group-item {{ active3 is defined ? 'active':'' }}">Юниты</a>
        <a href="/admin/doc" class="list-group-item {{ active4 is defined ? 'active':'' }}">Документация</a>
        <a href="/admin/tools" class="list-group-item {{ active5 is defined ? 'active':'' }}">Инструменты</a>
    </div>
{% endblock %}

{% block main %}
{% endblock %}
